<div id="documentation">
  <div class="container">
    <h2>Edit the post: <%= @blog.title %></h2>
    <a href="../../../../">Home</a> \\ Edit Post
    <div class="block">
      <%= form_for @blog, url: {action: "update", urllink: @blog.urllink}, html: { :class => 'form-horizontal style-form' } do |f| %>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Post Title</label>
        <div class="col-sm-10">
          <%= f.text_field :title, :placeholder => "Enter a title...", :class => 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Post Sub-Title</label>
        <div class="col-sm-10">
          <%= f.text_field :subtitle, :placeholder => "Enter a subtitle...", :class => 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Top Image</label>
        <div class="col-sm-10">
          <%= f.text_field :top_image, :placeholder => "Top image (leave empty to keep blank)...", :class => 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Categories</label>
        <div class="col-sm-10">
          <%= f.text_field :category, :placeholder => "Categories (ie. #hacking #technology)...", :class => 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Post Content</label>
        <div class="col-sm-10">
          <%= f.text_area :content, :placeholder => "Enter the contact for your post here (HTML is a thing)...", :class => 'form-control expand'  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
          <%= f.check_box :friends_and_family %> <label for="blog_is_published">Friends and Family Only (Members)?</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
          <%= f.check_box :allow_comments %> <label for="blog_is_published">Allow Comments?</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
          <%= f.check_box :is_published %> <label for="blog_is_published">Publish to Public?</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
            <%= f.submit "Edit Post", class: "btn btn-theme" %>
          </div>
      </div>
      <% end %>
    </div>
    <div class="block">
      <% @images.each do |img| %>
      <div style="width:150px; height:150px; display:inline-block;"><img src="<%= img.image.url %>" alt='' style='max-width:100%' class="img-responsive" /></div>
      <% end %>
    </div>
  </div>
</div>
<script src="../../../../js/textarea-expander.js"></script>
<script>
		autosize(document.querySelectorAll('textarea'));
</script>
<script src="../../../../js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector:'textarea',
    paste_data_images: true,
    plugins: 'autolink link image lists charmap print preview code wordcount codesample youtube',
    toolbar: 'insertfile undo redo | styleselect | bold italic underline | blockquote | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | youtube | codesample'
  });
</script>
