<div id="posts" class="container">
  <div class="row">
    <div class="col-md-8">
      <% inc = 0 %>
      <% @blogs.each do |blog| %>
      <% inc += 1 %>
      <% if inc == 1 && blog.kind_of != "quote" %>
      <!-- Featured Post - first post -->
      <section class="col-md-12 wow fadeIn">
        <div class="post">
          <div class="row">
            <div class="col-md-6 media">
              <img src="<%= blog.firstimage %>" class="img-responsive" />
            </div>
            <div class="col-md-6 caption">
              <span class="post-tag"><%= blog.category %></span>
              <a href="blogs/<%= blog.urllink %>" class="post-title"><%= blog.title %></a>
              <span class="post-date"><%= blog.published_at.strftime('%b %d %Y').upcase %></span>
              <p class="post-description"><%=  blog.subtitle %></p>
            </div>
          </div>
        </div>
      </section>
      <% elsif blog.kind_of == "slideshow" && inc !=1 %>
      <!-- Slideshow -->
      <% if inc > 8 %>
      <section class="col-md-6 wow fadeIn" style="display:none;">
      <% else %>
      <section class="col-md-6 wow fadeIn">
      <% end %>
        <div class="post">
          <div class="media">
            <div id="slides-1">
              <img src="img/photos/DeathtoStock_EnergyandSerenity7.jpg" class="img-responsive" />
              <img src="img/photos/DeathtoStock_EnergyandSerenity6.jpg" class="img-responsive" />
              <img src="img/photos/DeathtoStock_EnergyandSerenity5.jpg" class="img-responsive" />
              <img src="img/photos/DeathtoStock_EnergyandSerenity4.jpg" class="img-responsive" />
            </div>
          </div>
          <div class="caption text-center">
            <a href="blogs/<%= blog.urllink %>" class="post-title">I'm only breathing</a>
            <span class="post-date"><%= blog.published_at.strftime('%b %d %Y').upcase %></span>
          </div>
        </div>
      </section>
      <% elsif blog.kind_of == "quote" %>
      <!-- Quote -->
      <% if inc > 8 %>
      <section class="col-md-6 wow fadeIn" style="display:none;">
      <% else %>
      <section class="col-md-6 wow fadeIn">
      <% end %>
        <div class="quote">

          <i class="quote-left fa fa-quote-left"></i>
          <i class="quote-right fa fa-quote-right"></i>

          <div class="text-center">
            <img src="img/myphoto2.jpg" class="quote-face" />
            <blockquote>
              <p><%= blog.title %></p>
              <footer>Dale Myszewski</footer>
            </blockquote>
          </div>
        </div>
      </section>
      <% elsif blog.kind_of == "blog" && inc !=1 %>
      <!-- short blog mason box -->
      <% if inc > 8 %>
      <section class="col-md-6 wow fadeIn" style="display:none;">
      <% else %>
      <section class="col-md-6 wow fadeIn">
      <% end %>

        <div class="post">
          <div class="caption">

            <div class="post-thumb">
              <img src="<%= blog.firstimage %>" class="img-responsive" />
            </div>

            <span class="post-tag"><%= blog.category %></span>
            <a href="blogs/<%= blog.urllink %>" class="post-title"><%= blog.title %></a>
            <p class="post-description"><%=  blog.subtitle %></p>
            <span class="post-date"><%= blog.published_at.strftime('%b %d %Y').upcase %></span>
          </div>
        </div>
      </section>
      <% elsif blog.kind_of == "singleimage" && inc !=1 %>
      <!-- single image mason block -->
      <% if inc > 8 %>
      <section class="col-md-6 wow fadeIn">
      <% else %>
      <section class="col-md-6 wow fadeIn" style="display:none;">
      <% end %>
        <div class="post">
          <div class="media">
            <img src="<%= blog.firstimage %>" class="img-responsive" />
          </div>
          <div class="caption text-center">
            <a href="blogs/<%= blog.urllink %>" class="post-title"><%= blog.title %></a>
            <span class="post-date"><%= blog.published_at.strftime('%b %d %Y').upcase %></span>
          </div>
        </div>
      </section>
      <% end #end the if %>
      <% end #end the each loop %>
      <% if inc > 8 %>
      <div class="col-md-12">
        <div class="text-center">
          <a href="#" class="btn btn-ada-light load-more">Older posts</a>
        </div>
      </div>
      <% end %>

    </div>

    <!-- The sidebar goes right here!! :) -->
    <div id="sidebar" class="col-md-4">
      <div class="row">
        <section class="col-md-12 wow fadeIn">
          <div class="about">

            <h3>About me</h3>
            <img src="img/myphoto2.jpg" class="avatar-full-width img-responsive" />

            <p><strong>Dale Myszewski</strong>.</p>
            <p>Certifiable #InfoSec &amp; #WebDev guy. Full Stack Application Developer. Programmer. Gamer. Airsofter. Former LEO. All around Nerd. Happy Husband. Daddy. Jesus follower.<br /><b>My opinions are my own.</b></p>
            <p><a class="btn btn-ada-dark" href="https://twitter.com/dalemysz" target="_blank">Get in touch</a></p>

          </div>
        </section>

        <section class="col-md-12 wow fadeIn">
          <div class="tags">

            <h3>Tags</h3>
            <% @commontags.each do |t, f| %>
            <a href="#" class="btn btn-ada-dark btn-tag"><%= t %></a>
            <% end %>

          </div>
        </section>

        <section class="col-md-12 wow fadeIn">
          <div class="popular-posts">

            <h3>Popular posts</h3>
            <% @popularblogs.each do |popular| %>
            <a href="post-image.html">
              <img src="<%= popular.firstimage %>" alt="<%= popular.title %>" class="img-responsive" />
              <h4><%= popular.title %></h4>
            </a>
            <% end %>
          </div>
        </section>

      </div>
    </div>
  </div>

</div>

<!--
<% @blogs.each do |blog| %>
<p><%= blog.title %></p>
<p><%= blog.created_at.strftime("%b %e %Y") %></p>
<%= link_to "Read More", :action => :show, :urllink => blog.urllink %>
<% end %>
-->
