<div id="single">
  <div class="container">
    <div class="post">
      <!-- Top image would go here -->
      <% if @blog.top_image != "" %>
      <div style="background:url('<%=@blog.top_image%>');background-size:cover;height:350px;" class="image-responsive"></div>
      <% end %>
      <a href="../../../../">Home</a> \\ <%= @blog.title %>
      <div class="caption">
        <div class="header">
          <span class="post-tag"><%= @blog.category %></span>
          <h1><%= @blog.title %></h1>
          <% if @blog.published_at != nil %>
          <%= @blog.published_at.strftime('%b %d %Y').upcase %><br />
          <% end %>
          Written By: <%= @blog.user.first_name %>
        </div>
        <!-- Post Content -->
        <%= @blog.content.html_safe %>
        <!-- Post Content Ends -->

      </div>
    </div>
    <% if current_user && current_user.admin? %>
      <p class="blog-edit">
        <a href="<%= @blog.urllink %>/edit" class="post-title">Edit This Post</a>
      </p>
    <% end %>

    <div class="related">
      <div class="text-center">
        <h3>You may also like</h3>
      </div>
      <div class="row">
        <!-- Random Posts -->
        <% @random_blogs.each do |ran| %>
        <div class="col-md-4">
          <a href="../../blogs/<%= ran.urllink %>">
            <img src="<%= ran.firstimage %>" class="img-responsive" />
            <h4><%= ran.title %></h4>
            <span class="post-tag"><%= ran.category %></span>
          </a>
        </div>
        <% end %>
      </div>
    </div>
    <% if @blog.allow_comments %>
    <div class="comments">

      <!-- START DISQUS -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'daleslab';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <!-- END DISQUS -->

    </div>
    <% end %>

  </div>

</div>
