<div id="documentation">
  <div class="container">
    <h2>Portfolio</h2>
    <a href="../../../../">Home</a> \\ Portfolio
    <div class="row">
      <%= "<p>There are no portfolio items posted...you should post some.</p>".html_safe unless @portfolio_items.count > 0 %>
      <% @portfolio_items.each do |item| %>
      <div class="portfolio-item col-md-10 fadeIn wow">
        <%= image_tag item.image.url(:small) %>
        <h2><%= item.title %></h2>
        <%= "<h4><a href='#{item.link}'>#{item.link}</a></h4>".html_safe unless item.link == "" %></h4>
        <a class="btn btn-ada-dark btn-tag"><%= item.category %></a>
        <p><%= parse_line_breaks(item.description).html_safe %></p>
        <%= link_to "Edit", { action: "edit", id: item.id } unless !current_user_admin? %>
      </div>
      <% end %>

    </div>
    <p>*Please note that this page only contains recent examples of my work.</p>
  </div>
</div>
